.cards-goals > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.cards-goals > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards-goals .cards-goals-card-body {
  margin: 16px;
}

.cards-goals .cards-goals-card-image {
  line-height: 0;
}

.cards-goals > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
